# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

<strong>Objectives</strong>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries used by Data Scientists</li>
    <li>List out the tools used by Data Science</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>Matplotlib</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter Notebook</td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Apache Zeppelin</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic experessions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Ellis Ting